{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "no-use-before-define": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0
  }
}